*{
	padding: 0;
	margin: 0;
}
body{
	background-color: #eee;
	color: #333;
	font-size: 14px;
	min-width: 700px;
}
header,.innerText,aside,footer{
	background-color: #fff;
}

/*header start*/
header{
	width: 100%;
	height: 80px;
	line-height: 80px;
	box-shadow: 0 1px 2px #aaa;
	font-size: 20px;
	font-weight: bold;
	padding: 10px 40px;
}
header p{
	color: #f40;
	text-shadow: 1px 1px 2px #ff0;
}
/*header end*/

/*content start*/
.content{
	overflow: hidden;
	margin: 20px auto;
}
article,aside{
	float: left;
	padding-bottom: 9999px;
	margin-bottom: -9999px;
}

/*article start*/
article{
	width: 100%;
}
.innerText{
	margin-left: 210px;
	margin-right: 160px;
	padding: 50px 30px 20px;
}
.ia{
	text-align: right;
	margin-bottom: 20px;
}
.ia a{
	color: #06f;
	font-size: 12px;
	margin-right: 14px;
}
.ia a:hover{
	color: #f00;
}
.innerText p{
	text-indent: 2em;
	line-height: 2em;
}
/*article end*/

/*aside-left start*/
.left{
	width: 200px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	margin-left: -100%;
}
.left span{
	font-size: 16px;
	color: #f00;
	display: block;
	padding: 40px 20px 6px;
	border-bottom: 3px solid #f00;
	font-weight: bold;
}
.left a{
	text-decoration: none;
	font-size: 13px;
	display: block;
	color: #666;
	margin-bottom: 4px;
	padding: 20px;
}
.left a:hover{
	color: #f00;
}
/*aside-left end*/

/*aside-right start*/
.right{
	width: 150px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	margin-left: -150px;
}
.right p{
	color: #666;
	font-size: 13px;
	padding: 20px;
}
/*aside-right end*/
/*content end*/

/*footer start*/
footer{
	width: 100%;
	height: 80px;
	color: #999;
	text-align: center;
	font-size: 12px;
	position: relative;
}
footer p{
	position: absolute;
	bottom: 10px;
	left: 50%;
	margin-left: -61px;
}
/*footer end*/