body{
	background-color: #cc8;
	text-align: center;
}
div{
	width: 600px;
	margin: 0 auto;
	margin-top: 15%;
}
caption{
	font-size: 20px;
	margin-bottom: 10px;
}
table{
	border: 2px solid #000;
	vertical-align: middle;
	margin: 0;
	padding: 0;
}
th,td{
	width: 100px;
	height: 30px;
	border: 1px solid #666;
}